{% extends 'buyer/base.html' %}

{% block title %}
    首页
{% endblock %}

{% block content %}
    <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for one in result %}
			<li><a href="#model0{{ one.type.id }}" class="fruit">{{ one.type.type_label }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/buyer/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/buyer/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/buyer/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/buyer/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/buyer/images/adv01.jpg"></a>
			<a href="#"><img src="/static/buyer/images/adv02.jpg"></a>
		</div>
	</div>

    {% for one in result %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ one.type.id }}">{{ one.type.type_label }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/Buyer/goods_list/1/?keyword={{ one.type.id }}&req_type=findall" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/{{ one.type.picture }}"></div>
			<ul class="goods_list fl">
				{% for each in one.data %}
                    <li>
					<h4><a href="/Buyer/detail_info/?goodsid={{ each.id }}">{{ each.name }}</a></h4>
					<a href="/Buyer/detail_info/?goodsid={{ each.id }}"><img src="/static/buyer/{{ each.picture }}"></a>
					<div class="prize">¥ {{ each.price }}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}

{% endblock %}


